PORT=4023 
LINK=http://localhost:4023
SERVER_LINK=


DB_PORT=3306
DB_HOST=localhost
DB_NAME=iamhereapp
DB_USER=root
DB_PASSWORD=""
DOMAIN=localhost
DB_SYNCHRONIZE=true 
NODE_ENV_TYPE=development
REDIS_PASSWORD=



RUN_DB_LOCAL=false

#for jsonwebtoken JWT 
TOKEN_SECRET_KEY =
REFRESH_TOKEN_SECRET_KEY =
SECRET_KEY=
ENCRYPTION_KEY=

TOKEN_EXPIRES_IN = 30d
REFRESH_TOKEN_EXPIRES_IN = 30d
PERIOD_KEY=604800
REDIS_PORT=6379
REDIS_HOST=localhost
NODE_ENV=development
CLIENT_URL=http://localhost:3000
API_KEY= 

DEFAULT_DATA_INSERTED="false"
#nodemailer
EMAIL_SERVICE="gmail"
EMAIL_USERNAME=
EMAIL_PASSWORD=
#587 or 465
EMAIL_PORT=587
EMAIL_HOST="smtp.gmail.com" 


URL="http://localhost:4000"

HASH_SECRET=
